$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;
$breakpoint-desktop-wider: 1610px;

$color-brand: #0C2337;
$color-accent: #7191AF;
$color-text: $color-accent;
$color-background:#FFF5EA;

$font-heading:'Bebas Neue', sans-serif;
$font-paragraph: 'Raleway', sans-serif;